
.titulo_catalogo h1{
  text-align: center;
  padding: 1rem;
}
.categoria_catalogo{
  display: flex;
  align-items: center;
  width: 40vh;
  justify-content: space-around;
}
.tabla_catalogo{
  height: 100vh;
  overflow: auto;
}
.tabla_catalogo th{
  height: 8rem;
}

.apartado_catalogo:hover{
  transform: scale(1.006);
}
.subido{
  color: green;
}
.noSubido{
  color: red;
}
.aTablaPadmin{
  background-color: rgba(0, 0, 0, 0);
  color: blue;
}