
.logo{
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  justify-content: center;
}
.cal{
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  justify-content: center;
  position: absolute;
}
#head{
  z-index: 4;
  /* position: absolute; */
  /* width: 100% !important; */
  
}
.footer{
  z-index: 4;
  bottom: 0;
  /* height: 4%;
  width: 100%; */
}

.opciones-barraLateral{
  border-left: none !important;
  border-right: none !important;
}

.panel{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  transform: translateX(-100%);
  transition: 0.6s;
}
.panel.show {
  transform: translateX(0);
  z-index: 1000;
}

.bar{
  color: #D5D1C7;
  background-color: #5D5D5D;
}
.todo{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.show {
  transform: translateX(0);
}

.convocatoria{
  
  width: 100%;
  position: absolute;
}