
.logo{
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  justify-content: center;
}
.cal{
  display: flex;
  z-index: 1;
  height: auto;
  width: 100%;
  justify-content: center;
  position: absolute;
}
#head{
  z-index: 4;
  /* position: absolute; */
  /* width: 100% !important; */
  
}
.footer{
  z-index: 4;
  /* height: 4%;
  width: 100%; */
}

.opciones-barraLateral{
  border-left: none !important;
  border-right: none !important;
}

.panel{
  z-index: 6;
}

.bar{
  color: #D5D1C7;
  background-color: #5D5D5D;
}
.todo{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}