.seccion_canva{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}
.seccion_container{
  width: 60rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding-bottom: 2%;
  padding-top: 1%;
  margin-top: 3%;
}

.seccion_apartado{
  width: 89%;
  padding: 2%;
  overflow: auto;
  margin-bottom: 1.2rem;
}

.seccion_apartadoW{
  width: 89%;
  padding: 2%;
  overflow: auto;
  background-color: white;
  margin-bottom: 1.2rem;
}

.seccion_tabla{
  width: 100%;
  border-collapse: collapse;
      /* font-size: 0.8rem; */
  border: 1px solid #dddddd;
}
.seccion_tabla th{
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}
.seccion_tabla td {
  border-right: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}
.seccion_tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.seccion_tabla tr:hover {
  background-color: #ddd;
}