.tabla_proyectos_admin{
  
}

.adminP_fx:hover{
  transform: scale(1.006);
}

.btn_pAdmin{
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0);
  
}
.btn_pAdmin:hover{
  background-color: rgba(150, 150, 150, 0.1);
}
.apartado_pAdmin{
  overflow: auto;
}

.tablaPadmin{
  height: 100vh;
  overflow: auto;
}




.aTablaPadmin{
  background-color: rgba(0, 0, 0, 0);
  color: blue !important;
}

.aTablaPadmin a:link{
  background-color: rgba(0, 0, 0, 0);
  color: blue !important;
}