.borde{
  border: 1px solid rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}
.borde2{
  border: 2px solid rgba(50, 50, 50, 0.1);
  border-radius: 5px;
}
.bordeW{
  border: 1px solid rgba(250, 250, 250, 0.6);
  border-radius: 5px;
}
.bordeR{
  border-radius: 5px;
}
.bordeRed{
  border: 1px solid red;
}
.box{
  box-shadow: 1px 1px 50px 10px rgba(50, 50, 50, 0.4);
  border-radius: 5px;
}
.box2{
  box-shadow: 1px 1px 25px 5px rgba(50, 50, 50, 0.2);
  border-radius: 5px;
}
.box3{
  box-shadow: 1px 1px 25px 5px rgba(150, 150, 150, 0.4);
  border-radius: 5px;
}
.box4{
  box-shadow: 1px 1px 25px 5px rgba(150, 150, 150, 0.2);
  border-radius: 5px;
}
.boxFX{
  border-radius: 5px;
  box-shadow: 1px 1px 25px 10px rgba(50, 50, 50, 0.2) !important;
  transition: 0.2s;
}
.boxMax{
  box-shadow: 3px 3px 3px 480px rgba(50, 50, 50, 0.3);
  border-radius: 5px;
}
.boxFX:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 50px 10px rgba(50, 50, 50, 0.4) !important;
}
.bar{
  color: #D5D1C7;
  background-color: #5D5D5D;
}
body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}
button{
  transition: 50ms;
  cursor: pointer;
}
button:active{
  transform: scale(0.6);
}
a{
  outline: none !important;
  text-decoration: none !important;
}

a:link {
  color: rgba(250, 250, 250, 1);
}
span{
  color: red;
}
/* body{
  max-height: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
*/
#root{
  /* height: 100%;*/
  width: 100%;
  height: auto;
  /* min-width: 300px;
  min-height: 200px; */
} 

.opciones-barraLateral{
  transition: 50ms;
}

.opciones-barraLateral:hover{
  background-color: rgba(250, 250, 250, 0.6);
  cursor: pointer;
}
.opciones-barraLateral:active{
  transform: scale(0.96);
}


.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
