.borde{
  border: 1px solid rgba(50, 50, 50, 0.6);
  border-radius: 5px;
}
.borde2{
  border: 2px solid rgba(50, 50, 50, 0.1);
  border-radius: 5px;
}
.bordeW{
  border: 1px solid rgba(250, 250, 250, 0.6);
  border-radius: 5px;
}
.bordeR{
  border-radius: 5px;
}
.bordeRed{
  border: 1px solid red;
}
.box{
  box-shadow: 1px 1px 50px 10px rgba(50, 50, 50, 0.4);
}
.box2{
  box-shadow: 1px 1px 25px 5px rgba(50, 50, 50, 0.2);
}
.box3{
  box-shadow: 1px 1px 25px 5px rgba(150, 150, 150, 0.4);
}
.boxFX{
  box-shadow: 1px 1px 25px 10px rgba(50, 50, 50, 0.2) !important;
  transition: 0.2s;
}
.boxFX:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 50px 10px rgba(50, 50, 50, 0.4) !important;
}
body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
button{
  transition: 50ms;
  cursor: pointer;
}
button:active{
  transform: scale(0.6);
}
a{
  outline: none;
  text-decoration: none;
}
a:link {
  color: rgba(250, 250, 250, 1);
}
/* body{
  max-height: 1400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
*/
#root{
  /* height: 100%;*/
  width: 100%;
  height: auto;
  /* min-width: 300px;
  min-height: 200px; */
} 

.opciones-barraLateral{
  transition: 50ms;
}

.opciones-barraLateral:hover{
  background-color: rgba(250, 250, 250, 0.6);
  cursor: pointer;
}
.opciones-barraLateral:active{
  transform: scale(0.96);
}